@using Formula1.ViewModels
@using Formula1.Data.Enums
@model CreateRatingsViewModel

<form method="post" asp-action="Create" enctype="multipart/form-data">
    @*<input type="hidden" id="UserId" name="UserId" asp-for="UserId" />*@

    <div class="form-group">
    <label asp-for="RaceId">Race</label>
    <select asp-for="RaceId" class="form-control form-control-lg">
        <option value="">Select a Race</option>
        @foreach(var item in Model.Races){
            <option value="@item.Id">@item.Name</option>
        }
                        </select>
    <span asp-validation-for="RaceId" class="text-danger"></span>
    </div>
    @for(int i=0; i<20; i++){
    @*@foreach(var driver in Model.Drivers){*@
        <div class="card mb-4 box-shadow w-50 mx-auto">
            <img class="card-img-top" src="@Model.Drivers[i].Image" height="225" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">@Model.Drivers[i].FirstName @Model.Drivers[i].LastName</p>
                    <div class="d-flex justify-content-between align-items-center">
                    <input type="hidden" value="@Model.Drivers[i].Id" asp-for="@Model.Ratings[i].DriverId" />
                        <div class="form-group">
                            <label asp-for="@Model.Ratings[i].RatingValue">RatingValue</label>
                            <select asp-for="@Model.Ratings[i].RatingValue" asp-items="@Html.GetEnumSelectList<RatingType>()" class="form-control form-control-lg">
                                <option>--Select--</option>
                            </select>
                            @*<span asp-validation-for="Ratings.FirstOrDefault().RatingValue">RatingValue" class="text-danger"></span>*@
                        </div>
                    @*<small class="text-muted">@driver.RatingValue</small>*@
                </div>
            </div>
        </div>
    }
  
    
  <button type="submit" class="btn btn-primary">Submit</button>
</form>